<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LiveViewDemo · Phoenix Framework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <main role="main" class="container mt-3">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer mt-5"><div class="container text-muted">Made by <a href="https://github.com/joerichsen/">joerichsen</a>. Check out the <a href="https://github.com/joerichsen/live_view_demo">code</a>.</div></footer>
    <style>
      .footer { background-color: '#f5f5f5' }
    </style>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
